
.coeusHeroImage {
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    margin-bottom: 10vh;
    
}

.heroImage2 {
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    margin: 10vh 30vh 15vh;
}

.containerText {
    z-index: 10 !important;
}

.contentTitle {
    font-size: 45px !important;
}

.linkEndTitle {
    font-size: 25px;
    text-align: center;
}

.contentDescription {
    font-size: 25px;
}

.contentMiniDescription {
    font-size: 18px;
    line-height: 2;
}

.contentLinks {
   color: red;
   transition: transform 0.5s ease;
   transform: translateY(0px);
}

.contentLinks:hover {
    color: black;
    transform: translateY(10px);
}


.blockLink {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-left: 100px;
}

/* progress bar on scroll */

#progressBarContainer {
    position: fixed;
    z-index: 10;
    background: rgba(255,255,255,0.05);
    width: 100%;
    top: 0;
    left: 0;
}
  
  
#progressBar {
    background: #ea0f1e;
    transform-origin: top left;
    transform: scale(0,0);
    opacity: 0;
}

#progressBarContainer,
#progressBar {
    height: 5px;
}

.secondaryContent {
    padding-top: 100px !important;
}

.finalImage {
    width: 60vw;
    height: 90vh;
    min-width: 60%;
    min-height: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

