/* FIXME: add react helmet to override body bckgd color */

body {
    background-color: white  !important;
}


.projectTitle {
    color: black;
    font-size: 120px;
}

.projectDescription {
    color: grey;
    font-size: 25px;
}

.menuHeader  {
    color: black;
    font-size: 25px;
    float: right;
    margin-right: 300px;
    padding-top: 20px;
    transition: transform 0.5s ease;
    transform: translateX(10px);
    position: sticky;
    bottom: 90px;
    z-index: 20;
}

.menuHeader:hover {
    transform: translateX(0px);
}

.worksTitle {
    padding-top: 15%;
    margin-left: 15%;
}

.heroImage {
    width: 50vw;
    height: 90vh;
    overflow: hidden;
    margin: 25vh 90vh 15vh;
}

.heroImage2 {
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    margin: 10vh 30vh 15vh;
}

/* .worksTitle a {
    display:block;
    width:40%;
    height: 100%;
    transition: transform 0.5s ease;
    transform: translateX(0px);
}


.worksTitle a:hover {
    transform: translateX(30px);
} */

.contentTitle {
    font-size: 45px !important;
}

.linkEndTitle {
    font-size: 25px;
    text-align: center;
}

.contentDescription {
    font-size: 25px;
}

.contentMiniDescription {
    font-size: 18px;
    line-height: 2;
}

.contentLinks {
   color: red;
   transition: transform 0.5s ease;
   transform: translateY(0px);
}

.contentLinks:hover {
    color: black;
    transform: translateY(10px);
}


.blockLink {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-left: 100px;
}
