
.projectTitle {
    color: black;
    font-size: 120px;
}

.projectDescription {
    color: grey;
    font-size: 25px;
}

.menuHeaderDark  {
    color: black ;
    font-size: 25px;
    float: right;
    margin-right: 300px;
    padding-top: 20px;
    transition: transform 0.5s ease;
    transform: translateX(10px);
    position: sticky;
    top: 20px;
    z-index: 20;
}

.menuHeaderDark:hover {
    transform: translateX(0px);
}

.worksTitle {
    padding-top: 15%;
    margin-left: 15%;
}

.heroImage {
    width: 50vw;
    height: 90vh;
    overflow: hidden;
    margin: 25vh 90vh 15vh;
    z-index: 10;
}

.heroImage2 {
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    margin: 10vh 30vh 15vh;
}

.containerText {
    z-index: 10 !important;
}

.contentTitle {
    font-size: 45px !important;
}

.linkEndTitle {
    font-size: 25px;
    text-align: center;
}

.contentDescription {
    font-size: 25px;
}

.contentMiniDescription {
    font-size: 18px;
    line-height: 2;
}

.contentLinks {
   color: red;
   transition: transform 0.5s ease;
   transform: translateY(0px);
}

.contentLinks:hover {
    color: black;
    transform: translateY(10px);
}


.blockLink {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
    padding-left: 100px;
}
