/* SECTION: laptop/desktop */

@media only screen and (min-device-width : 1200px) and (max-width: 1600px) {

.aboutHero {
    text-align: center;
  }

.aboutHeroHeader {
    color: white;
    font-size: 120px;
    margin: 0px 10px 10px 5px;
    padding-top: 300px;
}

.aboutContentTitle {
    color: white !important;
    font-size: 50px !important;
    text-align: left;
}

.menuHeader  {
    color: white !important;
    font-size: 25px;
    float: right;
    margin-right: 300px;
    padding-top: 20px;
    transition: transform 0.5s ease;
    transform: translateX(10px);
    position: sticky;
    top: 20px;
    z-index: 20;
}

.menuHeader:hover {
    transform: translateX(0px);
}

.aboutContent {
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 350px;
}

.aboutText {
    font-size: 20px;
    text-align: left;
}

.aboutTextHeader {
    font-size: 25px;
    text-align: left;
}

.resumeLink {
    font-size: 25px;
    text-align: left;
    padding-bottom: 30px;
    color: #ea0f1e;
}

.resumeLink:hover {
    color:white ;
}
}

/* SECTION: iPads */

@media only screen and (min-device-width : 768px) and (max-width: 1024px) {
  
.aboutHero {
    text-align: center;
  }

.aboutHeroHeader {
    color: white;
    font-size: 120px;
    margin: 0px 10px 10px 5px;
    padding-top: 300px;
}

.aboutContentTitle {
    color: white !important;
    font-size: 50px !important;
    text-align: left;
}

.menuHeader  {
    color: white !important;
    font-size: 25px;
    float: right;
    margin-right: 45px;
    padding-top: 20px;
    transition: transform 0.5s ease;
    transform: translateX(10px);
    position: sticky;
    top: 20px;
    z-index: 20;
}

.menuHeader:hover {
    transform: translateX(0px);
}

.aboutContent {
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 350px;
}

.aboutText {
    font-size: 20px;
    text-align: left;
    width: 700px !important;
}

.aboutTextHeader {
    font-size: 25px;
    text-align: left;
    width: 700px;
}

.resumeLink {
    font-size: 25px;
    text-align: left;
    padding-bottom: 30px;
    color: #ea0f1e;
}

.resumeLink:hover {
    color:white ;
}


}


/* SECTION: iPhones */

@media only screen and (min-device-width : 375px) and (max-width: 736px) {

    .aboutHero {
        text-align: center;
      }
    
    .aboutHeroHeader {
        color: white;
        font-size: 60px;
        padding-top: 200px;
        padding-left: 30px;
    }
    
    .aboutContentTitle {
        color: white !important;
        font-size: 50px !important;
        text-align: left;
    }
    
    .menuHeader  {
        color: white;
        font-size: 25px;
        padding-left: 290px;
        position: sticky;
        top: 20px;
        z-index: 20;
    }

    
    .aboutContent {
        text-align: center;
        color: white;
        font-size: 25px;
        padding-top: 350px;
    }
    
    .aboutText {
        font-size: 20px;
        text-align: left;
    }
    
    .aboutTextHeader {
        font-size: 25px;
        text-align: left;
    }
    
    .resumeLink {
        font-size: 25px;
        text-align: left;
        padding-bottom: 30px;
        color: #ea0f1e;
    }
    
    .resumeLink:hover {
        color:white ;
    }
   
}