/* SECTION: laptop/desktop */
.landingHero {
    text-align: center;
  }

.landingHero h1 {
    font-size: 150px;
}

.landingHero a {
    text-decoration: none;
}

.headerFill{
    padding: 150px 0px 0px 0px ;
}
.landingHeaderOne {
    color: white ;
    margin: 0px 10px 10px 5px;
    transition: transform 0.5s ease;
    transform: translateX(30px);
    width: 100%;
}

.landingHeaderOne a{
    text-decoration: none;
    color: white ;
}

.landingHeaderOne a:hover{
    color: white ;
}

.landingHeaderOne:hover {
    transform: translateX(0px);
    
}

.landingHeaderTwo {
    
    margin: 10px 10px 10px 5px;
    transition: transform 0.5s ease;
    transform: translateX(30px);
}

.landingHeaderTwo a {
    color: #ea0f1e;
}

.landingHeaderTwo a:hover {
    color: #ea0f1e;
}

.landingHeaderTwo:hover{
    transform: translateX(0px);
}

.landingHeaderThree {
    
    margin: 10px 10px 10px 5px;
    transition: transform 0.5s ease;
    transform: translateX(30px);
}

.landingHeaderThree:hover {
    transform: translateX(0px);
}


.landingHeaderThree a {
    color: #ea0f1e;
}

.landingHeaderThree a:hover {
    color: #ea0f1e;
}

.heroFooter {
    padding: 150px 0px 0px 0px ;
}

/* SECTION: iPads */

@media only screen and (min-device-width : 768px) and (max-width: 1024px) {

    .landingHero {
        text-align: center;
      }
    
    .landingHero h1 {
        font-size: 150px;
    }
    
   
}


/* SECTION: iPhones */

@media only screen and (min-device-width : 375px) and (max-width: 736px) {
* {
    max-width: 375px;
   
}

    .headerFill{
        padding: 0px ;
    }
    .landingHero {
        text-align: center;
        padding-top: 100px;
      }
    
    .landingHero h1 {
        font-size: 100px;
    }
}